@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@600&display=swap');

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 98vw;
  margin: 10vh 0;
  height: auto;

}

.content {
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 50vw;
  margin: 10px;
  
}

.btn {
  background-color: #4a69ff;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  margin: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn:active {
  transform: scale(.9);
}

@media only screen and (max-width: 600px) {
  .App {
    display: block;
    width: 100%;
  }
  .content {
    margin: 20px;
    padding: 20px;
    width: auto;
  }
}